@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Libre Franklin', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Libre Franklin', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}
